@page "/bootstrapTest"

@using ExcelChartsBlazorOpenxml.Services
@using SharedModels

@rendermode InteractiveServer


<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Tab One">
        <MudText>
            <div class="container text-center">    
                <div class="row">
                    <div class="col-4">
                        <div class="container" style="border:2px solid red;">
                            <!-- Content here -->
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="container" style="border:2px solid blue;">
                            <!-- Content here -->
                        </div>
                    </div>
                </div>
            </div>
           
            
        </MudText>
    </MudTabPanel>

    <MudTabPanel Text="Brandex" BadgeIcon="@Icons.Material.Filled.Check" BadgeColor="Color.Success" Typo="Typo.h6" Class="mudTabPanelFontSize">
        <MudText>Brandex</MudText>
    </MudTabPanel>

    <MudTabPanel Text="QTC" Typo="Typo.subtitle1" Class="mudTabPanelFontSize">
        <MudText>QTC</MudText>
    </MudTabPanel>

    <MudTabPanel Text="Reports" Typo="Typo.h6" Class="mudTabPanelFontSize">
        <MudText>Reports</MudText>
    </MudTabPanel>
</MudTabs>


@code {


}
